/* General styles */
.header {
    background-color: var(--header);
    height: 1.6rem;
    padding: 1rem;
    text-align: right;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 0;
  }
  
  a {
    padding: 0.5rem;
    text-decoration: none;
    color: var(--text);
    font-family: sans-serif;
    transition: transform .5 ease-in-out;
  }

  a:hover{
    transform: scale(1.1);
  }
  
  .header-content {
    position: absolute;
    right: 10%;
    z-index: 1000;
    transition: 3s ease-in-out;
    border-radius: 50%;
  }
  .header-content a{
    transition: transform .3 ease in ease-in-out;
  }
  .header-content a:hover{
    transform: scale(1.1);
    color: rgb(6, 22, 245);
  }
  
  .ac {
    border: 0.1px solid rgba(0, 0, 0, 0.493);
    padding: 0.4rem;
    border-radius: 5rem;
    margin-right: 5px;
    background-color: black;
  }
  
  .social-icons {
    color: #110d0d;
    position: absolute;
    top: 2%;
    left: 10%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .sidebar a {
    width: 50%;
    padding: 20px;
    margin-left: 29px;
    box-sizing: border-box;
  }
  
  /* Show sidebar styles */
  .show-sidebar .sidebar {
    display: flex;
  }
  
  .show-sidebar .header-content {
    display: flex;
  }
  
  /* Menu button styles */
  .menu-button {
    display: none;
  }
  
  /* Media query for smaller screens */
  @media only screen and (max-width: 617px) {
    .menu-button {
      display: block;
    }
  
    .show-sidebar .sidebar,
    .show-sidebar .header-content {
      display: flex;
    }
  
    .header-content {
      display: none;
    }
  }

  @media(max-width:320px){
    .menu-button{
      display: block;
    }

    .show-sidebar .sidebar,
    .show-sidebar .header-content {
      display: flex;
    }

    .header-content {
      display: none;
    }
    .social-icons a{
      margin-top: 6px;
    }

  }
  